{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}



{% block body %}
    <h1>Posts index</h1>
     {% block stylesheets%}
  <input type="text" id="search" class="form-control" placeholder="Search">

   
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {% endblock %}
    <table class="table" id="tr">
    
        <thead>
        
            <tr>
                <th>Id</th>
                <th>Resolved</th>
                <th>Title</th>
                <th>Content</th>
                <th>Tags</th>
                <th>PostDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.resolved ? 'Yes' : 'No' }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.tags }}</td>
                <td>{{ post.postDate ? post.postDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_posts_show', {'id': post.id}) }}" class="a.btn.btn-link">show  |</a>
                    <a href="{{ path('app_posts_edit', {'id': post.id}) }}" class="a.btn.btn-link">  edit  |</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#Ytable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

 <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    <a href="{{ path('app_posts_new') }}">Create new</a>
{% endblock %}
