{% extends 'base.html.twig' %}


{% block title %}Teams index{% endblock %}


{% block body %}
 {% block stylesheets%}
  <input type="text" id="search" class="form-control" placeholder="Search">

   
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {% endblock %}
    <h1>Teams index</h1>

    <table class="nk-table" id="tr">
        <thead>
            <tr>
                <th>Id</th>
                <th>PhotoUrl</th>
                <th>Name</th>
                <th>Description</th>
                <th>TeamSize</th>
                <th>Requestable</th>
                <th>Invitable</th>
                <th>CreateDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td><img src="..\..\uploads\team\{{ team.photoUrl }}" alt="" width="100" height="100"></td>
                <td>{{ team.name }}</td>
                <td>{{ team.description }}</td>
                <td>{{ team.teamSize }}</td>
                <td>{{ team.requestable ? 'Yes' : 'No' }}</td>
                <td>{{ team.invitable ? 'Yes' : 'No' }}</td>
                <td>{{ team.createDate ? team.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_teams_show', {'id': team.id}) }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">show</a>
                    <div class="nk-gap-1"></div>
                    <a href="{{ path('app_teams_edit', {'id': team.id}) }}" class="nk-btn nk-btn-color-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
            {{ knp_pagination_render(teams) }}
        </div>
        <div class="nk-gap-1"></div>
    <a href="{{ path('app_teams_new') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Create new</a>
{% endblock %}
