{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
{% if team.requestable %}
<h1 style="display:inline-block;margin-right:50px;">Teams</h1>

{% if jr is null  %}
{% if team.teamSize > joinedUsers  %}
<a class="nk-btn nk-btn-outline nk-btn-color-success" 
href="{{ path('app_user_join_requests_new', {'user_id': requestingUserId, 'invitation': 0, 'message': "accept me", 'team_id': team.id}) }}" 
style="display:inline-block;">Request</a>
{% endif %}
{% elseif jr.accepted or jr.accepted is null %}
<a class="nk-btn nk-btn-outline nk-btn-color-danger" 
href="{{ path('app_user_join_requests_new', {'user_id': requestingUserId, 'invitation': 0, 'message': "accept me", 'team_id': team.id}) }}" 
style="display:inline-block;">Cancel Request</a>
{% endif %}
{% else %}
    <h1>Teams</h1>
    {% endif %}
    <div class="nk-teammate-card">
                <div class="nk-teammate-card-photo">
                    <img src="..\..\uploads\team\{{team.PhotoUrl}}" width="100" height="100"  alt="">
                </div>

                <div class="nk-teammate-card-info">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img src="assets/images/teammate-team.png" alt="">
                            </td>
                            <td>
                                <table>
                                    <tbody>
                              
                                    <tr>
                                        <td><strong class="h5">Name:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ team.name }}</strong></td>
                                    </tr>
                                      <tr>
                                        <td><strong class="h5">Users Joined:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{joinedUsers}}/{{ team.teamSize }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong class="h5">Created date:</strong>&nbsp;&nbsp;&nbsp;</td>
                                        <td><strong class="h5">{{ team.createDate ? team.createDate|date('Y-m-d H:i:s') : '' }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">{{ team.requestable ? 'Yes' : 'No' }}</strong>
                            </td>
                            <td>
                                <strong class="h5">REQUESTABLE</strong>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">{{ team.invitable ? 'Yes' : 'No' }}</strong>
                            </td>
                            <td>
                                <strong class="h5">INVITABLE</strong>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">{{winrate}} %</strong>
                            </td>
                            <td>
                                <strong class="h5">Win Rate</strong>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong class="h3">{{ team.teamSize }}</strong>
                            </td>
                            <td>
                                <strong class="h5">Team Size</strong>
                                <div></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span>Biography</span></h3>
            <p>{{ team.description }} </p>
            
            



    
<div class="nk-gap-1"></div>
    <a href="{{ path('app_teams_index') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">back to list</a>

    <a href="{{ path('app_teams_edit', {'id': team.id}) }}" class="nk-btn nk-btn-color-primary">edit</a>
<div class="nk-gap-1"></div>
    {{ include('teams/_delete_form.html.twig') }}
 <table class="nk-table" id="tr">
        <thead>
            <tr>
                <th>fName</th>
                <th>Bio</th>
                <th>Photo</th>
               
            </tr>
        </thead>
        <tbody>
    {% for u in users %}
 <tr>
    <td> {{u.fullname}}</td>
     <td>{{u.bio}} </td>

    <td>  <img src={{u.photoURL}} width="15%" class="rounded-circle"></td>


</tr>
    {% endfor %}
    </tbody>
                <h3 class="nk-decorated-h-2"><span>Team Members</span></h3>

    <table class="nk-table" id="tr">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Description</th>
               
            </tr>
        </thead>
        <tbody>
                        <h3 class="nk-decorated-h-2"><span>Tournaments you have joined</span></h3>

    {% for t in tournaments %}
 <tr>
    <td> {{t.name}}</td>
     <td>{{t.description}} </td>

</td>


</tr>
    {% endfor %}
    </tbody>
{% endblock %}