{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1>Teams</h1>

    <table class="nk-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
              <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>PhotoUrl</th>
                <td> <img src="..\..\uploads\team\{{team.PhotoUrl}}"width="250" height="300"></img></td>
            </tr>
         
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
            <tr>
                <th>TeamSize</th>
                <td>{{ team.teamSize }}</td>
            </tr>
            <tr>
                <th>Requestable</th>
                <td>{{ team.requestable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Invitable</th>
                <td>{{ team.invitable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreateDate</th>
                <td>{{ team.createDate ? team.createDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
            <th>winrate</th>
            <td>{{winrate}} %</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_teams_index') }}">back to list</a>

    <a href="{{ path('app_teams_edit', {'id': team.id}) }}">edit</a>

    {{ include('teams/_delete_form.html.twig') }}
{% endblock %}
