{% extends 'base.html.twig' %}

{% block title %}Edit Tournaments{% endblock %}

{% block body %}
    <h1>Edit Tournaments</h1>

    {{ include('tournaments/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('tournaments/_delete_form.html.twig') }}
          <table class="nk-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>RequestDate</th>
                <th>Accepted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for join_request in join_requests %}
            <tr>
                <td>{{ join_request.id }}</td>
                <td>{{ join_request.message }}</td>
                <td>{{ join_request.requestDate ? join_request.requestDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ join_request.accepted ? 'Yes' : 'No' }}</td>

                <td>
                    {% if join_request.accepted is null or join_request.accepted == false  %}<a href="{{ path('app_join_requests_accept_tournament', {'id': join_request.tournament.id ,'jrid': join_request.id}) }}">accept</a>{% endif %}
                    {% if join_request.accepted is null or join_request.accepted == true  %}<a href="{{ path('app_join_requests_decline_tournament', {'id': join_request.tournament.id,'jrid': join_request.id}) }}">decline</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_tournaments_index') }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">back to list</a>
{% endblock %}
