{% extends 'admin.html.twig' %}

{% block title %}Reports index{% endblock %}

{% block body %}
    <h1>Reports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Head</th>
                <th>Body</th>
                <th>ReportDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.subject }}</td>
                <td>{{ report.head }}</td>
                <td>{{ report.body }}</td>
                <td>{{ report.reportDate ? report.reportDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reports_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('app_reports_edit', {'id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reports_new') }}">Create new</a>
{% endblock %}
