
{{ form_start(form)}}
<table>
    <tr>

        <td>{{ form_row(form.startDate, {'attr':{'class':'DateTimeType'}}) }}</td>

    </tr>
    <tr>
        <td>{{ form_row(form.endDate, {'attr':{'class':'DateTimeType'}}) }}</td>
    </tr>
    <tr>

        <td>{{ form_row(form.badge, {'attr':{'class':'col-form-label '}}) }}</td>

    </tr>


</table>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

<a href="{{ path('app_happy_hours_index') }}">back to list</a>

{{ form_end(form) }}

{#
<div class="content">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">
            <h4 class="page-title"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="time-icon">
                                <td>{{ form_row(form.startDate, {'attr':{'class':'DateTimeType'}}) }}</td>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="time-icon">
                                <td>{{ form_row(form.endDate, {'attr':{'class':'DateTimeType'}}) }}</td>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <td>{{ form_row(form.badge, {'attr':{'class':'col-form-label '}}) }}</td>
                        </div>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button  class="btn btn-primary submit-btn">{{ button_label|default('Save') }}</button>

                </div>
            </form>
        </div>
    </div>
</div> #}