{% extends 'base.html.twig' %}

{% block title %}HappyHours index{% endblock %}

{% block body %}
    <h1>HappyHours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for happy_hour in happy_hours %}
            <tr>
                <td>{{ happy_hour.id }}</td>
                <td>{{ happy_hour.startDate ? happy_hour.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ happy_hour.endDate ? happy_hour.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_happy_hours_show', {'id': happy_hour.id}) }}">show</a>
                    <a href="{{ path('app_happy_hours_edit', {'id': happy_hour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_happy_hours_new') }}">Create new</a>
{% endblock %}
