{% extends 'base.html.twig' %}

{% block title %}Stores index{% endblock %}

{% block body %}
    <h1>Stores index</h1>
    {% block stylesheets%}
        <input type="text" id="search" class="form-control" placeholder="Search">
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("#search").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    {% endblock %}



    <table class="table" id="tr">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>
                    <a href="{{ path('app_stores_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('app_stores_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(stores) }}
    </div>

    <a href="{{ path('app_stores_new') }}">Create new</a>

    <!-- START: Top 10 Best Sellers -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Top 3</span> Best Stores</span></h3>
    <div class="nk-gap"></div>
    <div class="nk-carousel nk-carousel-x4" data-autoplay="5000" data-dots="false" data-cell-align="left" data-arrows="true">
        <div class="nk-carousel-inner">


            {% for store, nb in sortedStores %}
            <div><div class="pl-5 pr-5">
                    <div class="nk-product-cat-3">
                        <a class="nk-product-image" href="{{ path('app_stores_show', {"id":store.id}) }}">
                            <img src="assets/images/product-1-xs.jpg" alt="">
                        </a>
                        <div class="nk-product-cont">
                            <div class="nk-gap-1"></div>
                            <h3 class="nk-product-title h5"><a href="">{{ store.name }}</a></h3>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>
                </div></div>
            {% endfor %}
        </div>
    </div>
    <!-- END: Top 10 Best Sellers -->
{% endblock %}
