{% extends 'base.html.twig' %}

{% block title %}Stores index{% endblock %}

{% block body %}
    <h1>Stores index</h1>
    {% block stylesheets%}
        <input type="text" id="search" class="form-control" placeholder="Search">


        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("#search").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    {% endblock %}

    <table class="tr">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>
                    <a href="{{ path('app_stores_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('app_stores_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(stores) }}
    </div>

    <a href="{{ path('app_stores_new') }}">Create new</a>
{% endblock %}
