{% extends 'base.html.twig' %}

{% block title %}Stores{% endblock %}

{% block body %}
    <h1>Stores</h1>
    <a href= {{  path('app_market_items_new') }} target="modal">add Item></a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ store.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ store.name }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td><a href="{{ path('app_user_store_likes_dislikes_new', {'user_id': user_id, 'like': 1, 'store_id': store.id}) }}">Like</a> | <a href="{{ path('app_user_store_likes_dislikes_new', {'user_id': user_id, 'like': 0, 'store_id': store.id}) }}">Dislike</a></td>
                <th>Like Count</th>
                <td>{{ likes | length }}</td>
                <th>Dislike Count</th>
                <td>{{ dislikes | length }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stores_index') }}">back to list</a>

    <a href="{{ path('app_stores_edit', {'id': store.id}) }}">edit</a>

    {{ include('stores/_delete_form.html.twig') }}
{% endblock %}
