{% extends 'admin.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}


    <h1>Games </h1>

    <div class="text">
        <a type="submit" class="btn btn-primary btn-sm " style="margin:10px"  href="{{ path('triid' )}}">  <strong>Tri Asc</strong></a>
    </div>
    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <input type="text" id="search" class="form-control form-control-no-border mr-sm-2" placeholder=" search">

    <table class="table table-bordered dataTable" id="t"   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td><img style="height: 100px; width: 100px" src="{{ asset('images/games/'~game.photo_url) }}" ></td>
                <td>{{ game.description }}</td>
                <td>
                    <a href="{{ path('app_games_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_games_delete', {'id': game.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
                        <button class="btn">Delete</button>
                    </form>

                </td>
            </tr>

      <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#t tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>

        {% endfor %}
        </tbody>


    </table>
    <div class="text-center">
        <a type="submit" class="btn btn-primary btn-sm " style="margin:100px"  href="{{ path('impr' )}}">  <strong>enregistrer sous forme pdf</strong></a>
    </div>
    <a href="{{ path('app_games_new') }}">Create new</a>
{% endblock %}
