{% extends 'admin.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
    {% block stylesheets%}
        <input type="text" id="search" class="form-control" placeholder="Search">


        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("#search").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    {% endblock %}

    <!-- Include Flashy default partial -->


    <h1>Games </h1>
    <div class="text-left">
        <a type="submit" class="btn btn-primary btn-sm " style="margin:50px"  href="{{ path('app_tri' )}}">  <strong>Tri ASC</strong></a>
    </div>
    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>

    <table class="table table-bordered dataTable" id="t"   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td><img style="height: 100px; width: 100px" src="{{ asset('images/games/'~game.photo_url) }}" ></td>
                <td>{{ game.description }}</td>
                <td>
                    <a href="{{ path('app_games_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_games_delete', {'id': game.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
                        <button class="btn">Delete</button>
                    </form>

                </td>
            </tr>

      <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#t tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>

        {% endfor %}
        </tbody>


    </table>

    <a href="{{ path('app_games_new') }}">Create new</a>

    <div class="text-center">
        <a type="submit" class="btn btn-primary btn-sm " style="margin:100px"  href="{{ path('impr' )}}">  <strong>save as PDF</strong></a>
    </div>

{% endblock %}
