{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <h1>Comments</h1>

    <table class="nk-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>CommentBody</th>
                <td>{{ comment.commentBody }}</td>
            </tr>
            <tr>
                <th>CommentDate</th>
                <td>{{ comment.commentDate ? comment.commentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_posts_show', {'id' : postId}) }}" class="nk-btn nk-btn-rounded nk-btn-color-main-1">back to post</a>

    <a href="{{ path('app_posts_comments_edit', {'pid': postId, 'cid': comment.id}) }}" class="nk-btn nk-btn-color-primary">edit</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
