{% extends 'back.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <h1>Users </h1>
 {% block stylesheets%}
  <input type="text" id="search" class="form-control" placeholder="Search">

   
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
    <table class="table" style="color: whitesmoke;" id = "tr">
   
        <thead>
            <tr>
                <th>Id</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>PhotoUrl</th>
                <th>FullName</th>
                <th>Bio</th>
                <th>BirthDate</th>
                <th>JoinDate</th>
                <th>Invitable</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.photoUrl }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.joinDate ? user.joinDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.invitable ? 'Yes' : 'No' }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                     {% if (app.user.id == user.id) %}
                                                    <a class="btn btn-outline-dark btn-fw" href="{{ path('disable_user', {'id': user.id}) }}" style="pointer-events: none">disable</a>
                                                {% else %}
                                                    {% if ( user.disabletoken) %}
                                                        <a class="btn btn-outline-success btn-fw" href="{{ path('enable_user', {'id': user.id}) }}">enable</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-danger btn-fw" href="{{ path('disable_user', {'id': user.id}) }}">disable</a>
                                                    {% endif %}
                                                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>

    <a href="{{ path('app_register') }}" >Create new</a>
{% endblock %}
