{% extends 'baseFront.html.twig' %}

    {% block body %}

        <section class="login spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        {% if not form.vars.valid %}
                            {% for child in  form.children %}
                                {% for error in child.vars.errors %}
                                    <div class="alert alert-danger">{{ error.message }}</div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="login__social">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div class="login__social__links">
                                <div class="login__form">
                                    <h3>Profile Edit</h3>

                                    {{ form_start(form , {render_rest: false}  ,  {'attr' : {'novalidate' : 'novalidate'}}) }}
                                    <div class="input__item">
                                        {{ form_widget(form.plainPassword , {'attr' : {'class' : 'form-control' }}) }}
                                        <span class="icon_lock"></span>
                                    </div>
                                    <ul>
                                        <li><button style="background-color: #ff4343;border-radius: 4px;color: #ffffff; display: block;font-size: 13px;font-weight: 700;letter-spacing: 2px;text-transform: uppercase;width: 460px;padding: 14px 0;position: relative;margin: 0 auto; " type="submit" class="btn btn-danger btn-fw">{{ button_label|default('Save') }}</button></li>

                                        {{ form_end(form) }}
                                        <li><a  class="btn btn-primary btn-fw" href="{{ path('profile') }}">Back</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}




